<header>
    <nav appCardsStyle2 >
        <div class="image-wrapper">
            <img src="../../assets/icons/Owli.svg" alt="">
        </div>
     
        <div class="links-navigation">
            <a href="">Inicio</a>
            <a href="">Recursos</a>
            <a href="">Planos</a>
            <a href="">Blog</a>
        </div>
        <div class="enter-or-buy-nav">
            <a href="" class="enter">Entrar</a>
            <a class="buy">Comprar</a>
        </div>
    
    </nav>

   <!--  <nav class="nav-menu-responsivo">
            <div class="image-wrapper">
                    <img src="../../assets/icons/Owli.svg" alt="">
                </div>
        <ul class="list-menu-responsivo">
            <li class="item-menu-responsivo">
                <a href="">Inicio</a>
            </li>
            <li class="item-menu-responsivo">
                <a href="">Recursos</a>
            </li>
            <li class="item-menu-responsivo">
                <a href="">Planos</a>
            </li>
            <li class="item-menu-responsivo">
                <a href="">Blog</a>
            </li>
        </ul>
    </nav> -->
</header>