header{
    overflow-x: hidden;
    top: 0;
    display: flex;
    justify-content: center;
    font-family: 'Lato-Regular';
    
    
}

header nav{
    height: 150px;
    width: 80%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
    
}


.image-wrapper{
    flex: 1;
    display: flex;
    justify-content: space-between;
}


.brand-tag{
    font-family: 'Lato-Bold';
    font-size: 3em;
    background-image: url('../../assets/icons/Owli.svg');
    background-size: 50px;
    margin-right:  10%;
}

.links-navigation{
    
    flex: 1 1 auto;
    display: flex;
    justify-content: space-around;
    
}
.links-navigation  a {
    
    font-size: 1.3em;
    color: white;
    text-decoration: none;
    
}



.enter-or-buy-nav{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    font-size: 1.3em;
    justify-content: flex-end;
    align-items: center;
   
}

.enter{
    margin-right: 5%;
    text-decoration: none;
    color: white;
}
.buy{
  text-align: center;
  
  min-width: 130px;
  background-color: transparent; 
  font-size: 0.8em;
  line-height: 3em; 
  border: 1px solid white;
  border-radius: 3px; 
}

.buy::after{
    content: url('../../assets/icons/arrow-left-right-small.svg');
    padding-left: 10px; 
}


@media(max-width:1000px){
    header nav{
        min-height: 100px;
        height: auto;
        flex-flow: column nowrap;
        overflow: hidden;
        align-items: flex-start;
        justify-content: space-around;  
        background-image: url('../../assets/icons/menu-responsivo.png');
        background-repeat: no-repeat;
        background-position-x: right;
        background-position-y: center;
        background-size: 50px;
    }



    .image-wrapper{
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    .links-navigation{
        display: none;
        flex-flow: column wrap;
        align-items: flex-start;
        padding-top: 5px;
        

    }
    .links-navigation a {
        padding-top: 5px;

    }
    .enter-or-buy-nav{
        display: none;
        flex-flow: column wrap;
        align-items: flex-start;
        padding-top: 5px;
       
    }
    .buy{
        text-align: start;
        
        min-width: 130px;
        background-color: transparent; 
        font-size: 0.8em;
        line-height: 3em; 
        border: none;
        border-radius: 3px; 
      }
      
}