<header id="header">
    <nav appMenuResponsivo>
        <div class="image-wrapper">
            <img src="../../assets/icons/Owli.svg" alt="">
            <img id="menu-responsivo" src="../../assets/icons/menu-responsivo.png" alt="">
        </div>
        <div class="links-navigation">
            <a href="">Inicio</a>
            <a href="">Recursos</a>
            <a href="">Planos</a>
            <a href="">Blog</a>
        </div>
        <div class="enter-or-buy-nav">
            <a href="" class="enter">Entrar</a>
            <a class="buy">Comprar</a>
        </div>
    </nav>
</header>