

.box-style-1{
    border: 2px solid #EEEEEE;   
        }
.box-style-2{
    border: 2px solid #0576FF; 
    transform: scale(1.1,1.1);      
      }        

.cards-box{
    overflow-x: hidden;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    width: 30%;
    min-width: 360px;
    min-height: 450px;

    -webkit-box-shadow: 0px 15px 10px -5px rgba(0, 0, 0, 0.1); 
    -moz-box-shadow: 0px 15px 10px -5px rgba(0, 0, 0, 0.1); 
    box-shadow: 0px 15px 10px -5px rgba(0, 0, 0, 0.1); 
                    
                }        

      
  .cards-wrapper{
      width: 100%;
      display: flex;
      flex-flow: column wrap;
      justify-content: space-between;
      align-items: center;

  }      


h1::before{
    font-size: 0.3em;
    padding-top: 0.6em;
    content: 'R$';  
    align-self: flex-start;
}

h1{
    display: flex;
    justify-content: center;
    margin: 1rem;
    width: 80%;
    text-align: center; 
}

h3{
    font-size: 2em;
    margin-top: 10%!important;
}
.sub-title-2{
    color: #6DAFFF
}


p, h3{
    margin: 0;
}


.margin-bottom-style{
    background-image: linear-gradient(to right,  #68686849 );
    background-size: 100% 2px;
    background-repeat: no-repeat;
    background-position: center bottom;    
    padding-bottom: 0.5em;
}

p{
    font-size: 1.3em!important;
    width: 80%;
    line-height: 1.5em;
   
}

p:nth-of-type(3){
    margin-top: 5%;
}

.button-commom{
  
    border: none;
    width: 60%;
    height: 50px;
    text-align: center;
    font-size: 1.3em;
    margin: 1.5em 0 1.5em 0;
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: 1.3em;
    background-position: 15%;
    border-radius: 5px;
  }


  .button-style-1{
    background-color: white;
    color: #686868;
    background-image: url('../../assets/icons/cart-black.svg');
    border: 1px solid #0576FF;
}

  .button-style-2{
    background-color: #0576FF;
    color: white;
    background-image: url('../../assets/icons/cart-white.svg');
    background-repeat: no-repeat;
  }

