
.cadastro-form{
    overflow-x: hidden;
    flex: 1;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between; 
    background-color: white;
    border-radius: 5px;
  
    
}
.cadastro-form .container{
    flex: 1 1 auto;
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    min-height: 450px;
    min-width: 390px;
}

.cadastro-form .container > :nth-child(n + 2){
    line-height: 3.5em;
    border-radius: 5px;
    margin-top: 10px; 
    width: 70%;
    font-size: 1em;
}



.cadastro-form .container h3{
    color: rgb(49, 41, 41);
    font-size: 1.8em;
}

input{
    display: flex;
    border: 1px solid #686868;
    padding-left: calc(25px + 10%);
    align-items: center;
    justify-content: center; 
    background-size: 25px!important;
    background-position-y: center!important;
    background-position-x: 5%!important;
    background-repeat: no-repeat!important;
}

input:nth-of-type(1){ 
    background: url('../../assets/icons/user.svg');
}

input:nth-of-type(2){
    background: url('../../assets/icons/email.svg');
}

input:nth-of-type(3){
    background: url('../../assets/icons/phone.svg');
}



button{
  
  border: none;
  background-color: #0576FF;
  width: 90% !important;
  margin: 20px 0 20px 0!important;
  text-align: center;
  color: white;
  font-size: 1.3em!important;
}












::-webkit-input-placeholder { /* Edge */
    color: red;
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: red;
  }
  
  ::placeholder {
    color: red;
  }


  .cadastro-form input::-webkit-input-placeholder{
    color: #686868;
    font-size: 1.3em;
}