<body>

        <app-slider-options></app-slider-options>
        <app-header></app-header>
    <main>
        <section class="main-section">
            <div class="container">
                <app-join-us></app-join-us>
                <div class="main-cadastro">
                    <app-cadastro-imobiliaria></app-cadastro-imobiliaria>
                </div>
            </div>
        </section>
    </main>
  
            <app-promo-view></app-promo-view>
            <app-banner></app-banner>
    
</body>