<body>
        <app-header></app-header>
    <main class="teste">
        <section class="main-section">
            <div class="container">
                <div class="main-join-us">
                    <h1 class="f-bold">A nova área do
                        <br>cliente</h1>
                    <h2 class="f-light">Aplicativo para locatários e proprietários de imovéis</h2>
                    <a class="f-bold" href="">Quero fazer parte</a>
                </div>
                <div class="main-cadastro">
                    <app-cadastro-imobiliaria></app-cadastro-imobiliaria>
                </div>
            </div>
        </section>
    </main>
  
            <app-promo-view></app-promo-view>
    
</body>