
body{
    left: -15px;
    top: 0;
    width: 101%;
    position: relative;
    overflow-x: hidden;
    font-family: 'Lato-Regular';
    background: linear-gradient(to right,#119FE5 40%, #6BCDFB 100%);
}


.main-section{
    overflow-x: hidden;
    background-color: transparent;
    min-height: 550px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
}

.main-section .container{
    background-color: transparent;
    width: 90%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    
}

@media(max-width:1075px){
   .container {
       flex-flow: column wrap;
}
}

@media(max-width:1000px){
    .main-cadastro{
        min-height: 500px;
    }
}



