/* You can add global styles to this file, and also import other style files */

@font-face {
    src: url('./assets/fonts/Lato/Lato-Regular.ttf');
    font-family: 'Lato-Regular';
    font-weight: normal;
}

@font-face {
    src: url('./assets/fonts/Lato/Lato-Bold.ttf');
    font-family: 'Lato-Bold';
    font-weight: normal;
}

@font-face {
    src: url('./assets/fonts/Lato/Lato-Light.ttf');
    font-family: 'Lato-Light';
    font-weight: normal;
}




.dark{
    color: #1D1D1D;
}

.gray{
    color: #686868;
}

h1{
    font-size: 3.5em;
    font-family: 'Lato-Bold';
}

h2{
    font-size: 3.0em;
    font-family: 'Lato-Bold';
}


h3{
    font-family: 'Lato-Regular';
    font-size: 1.8em;
}

