
  <section class="promo-section">
<div class="container" >
    <div class="promo-presentation">
        <div class="itens" >
            <h2 class="dark" >Conheça todos <br> os nossos recursos </h2>
        </div>
        <div class="itens">
            <img src="../../assets/icons/feature1.svg" alt="Centralizado">
            <h3 class="dark" >Economia</h3>
            <p class="gray" >Lorem ipsum dolor sit amet</p>
        </div>
        <div class="itens">
            <img src="../../assets/icons/featura2.svg" alt="Economia">
            <h3 class="dark f-size-m f-reg " >Centralizado</h3>
            <p class="gray">Lorem ipsum dolor sit amet</p>
        </div>
    </div>
    <div class="cards-container" > 
   <app-cards styleColor='1' ></app-cards>
   <app-cards  ></app-cards>
    </div>
 <!--    <div class="slide-show-container" >
        
            <a href=""></a>
            <img src="" alt="">
            <a href=""></a>
      
    </div> -->
</div>
</section>
